configuration {
    modi: "drun";
    show-icons: true;
    display-drun: " >> ";
    drun-display-format: "{name}";

    kb-remove-to-eol: "";
    kb-accept-entry: "Return,KP_Enter";
    kb-row-up: "Up,Control+k";
    kb-row-down: "Down,Control+j";
    
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@theme "blackwiterofi"
